@{
    ViewBag.Title = "About";
}
<head>
    <style>
        body {
            color: #fff !important
        }
    </style>
</head>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Application was coded by:</p>
<p>    Yuvashin Pillay - 21632604</p>
<p>    Shannondran Iyavoo - 21627467.</p>
