@{
    ViewBag.Title = "Contact information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   101 marble arch<br />
    Chatsworth, Durban<br />
    <abbr title="Phone">Phone:</abbr>
    0794394753
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:shannonfpl97@gmail.com">shannonfpl97@gmail.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>