@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>Avante Venues</h1>
    <p class="lead">view our excellent pacakages at reasonable prices </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Packages &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gallery</h2>
        <p>
            Have a look at our amazing venues we have done before.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Gallery &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Details on how and when to contact us.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Contact &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Make Booking</h2>
        <p>click below to make a booking</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Make Booking &raquo;</a></p>
    </div>
</div>