
@{
    ViewBag.Title = "AddAdmin";
}

<h2>AddAdmin</h2>


<h2>AssignRoleToUser</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Select User Type", new { @class="col-md-2 control-lable"})
        <div class="col-md-10">
            @Html.DropDownList("UserName")
        </div>
    </div>
    <input type="submit" value="Create Role" />


}

