@{
    ViewBag.Title = "PaymentSuccess";
}


<head>
    <style>
        body {
            color: #fff !important
        }
    </style>
</head>



<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Your Payment Was Successful</p>

<div>
    <a href="/BookingStatus/Index">
        <button type="button" class="btn btn-default">
            OK
        </button>
</div>

