@model ProjectHall4.Models.FileUploadVm
@{
    ViewBag.Title = "FileUploadProcess";
}

<h2>Upload a File</h2>
@using (Html.BeginForm("FileUploadProcess", "FileUpload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "container", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "cols-sm-2 control-label" })
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                @Html.TextBoxFor(model => model.File, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(x => x.File, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Upload file</button>
}
